<!-- index.html to test what markup would look like locally (independent of target) -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Q Tool</title>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/gh/muicss/loadjs@3.6.1/dist/loadjs.min.js"></script>
    <script src="https://q-server.st.nzz.ch/files/system.js"></script>
    <!-- if context is given load stylesheets and scripts if available -->
    {%- if context.stylesheets %} {%- for stylesheet in context.stylesheets %}
    {%- if stylesheet.url %}
    <link rel="stylesheet" href="{{ stylesheet.url }}" />
    {%- endif %} {%- if stylesheet.content %}
    <style>
      {{ stylesheet.content }}
    </style>
    {%- endif %} {%- endfor %} {%- endif %} {%- if context.scripts %} {%- for
    script in context.scripts %} {%- if script.url %}
    <script src="{{ script.url }}"></script>
    {%- endif %} {%- if script.content %}
    <script>
      {
        {
          script.content;
        }
      }
    </script>
    {%- endif %} {%- endfor %} {%- endif %} {%- if context.background %}
    <style>
      body {
        background-color: {{ context.background.color }};
        color: {{ context.background.color }}
      }
      #container {
        background-color: {{ context.background.color }};
        color: {{ context.background.color }}
      }
    </style>
    {%- endif %}
    <link rel="stylesheet" href="http://localhost:5000/style.css" />
  </head>
  <!-- we have four different article templates, since the article itself has the same structure in each template 
		we can use either of these classes: regular, longformstandard, regular, opinion 
		if one changes the class attached to body tag one should change the class in section tag accordingly (maybe further adjustments needed too) -->
  <body class="regular">
    <div class="fixtures__container">
      <select class="fixtures__select"></select>
      <button class="fixtures__reload-button" type="button">Reload</button>
    </div>
    <div id="__nzz">
      <div id="__layout">
        <div class="page--article-id">
          <div class="pageholder">
            <div class="nzz-container">
              <div class="nzz-page-transition">
                <div class="article">
                  <!-- also here change layout--{template} accordingly -->
                  <section class="container container--article layout--regular">
                    <!-- default = content width, for fullwidth, small left/right one has to add one of 
                        the following classes accordingly: widget--fullwidth, widget--left, widget--right-->
                    <div
                      class="articlecomponent q-embed widget--qembed regwalled"
                    >
                      <div>
                        <div class="s-q-item" id="container"></div>
                        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Map,URL,Promise,fetch,URLSearchParams,Array.prototype.find,Array.prototype.findIndex,Object.entries,Array.prototype.includes,CustomEvent,Array.from,String.prototype.startsWith&flags=gated&unknown=polyfill"></script>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const port = {{ port }};
      const target = '{{ target }}';
      // load fixture data and populate select element with titles
      fetch(`http://localhost:${port}/tools/fixtures/data`)
        .then(response => {
          if (response.ok) {
            return response.json();
          }
          throw new Error(response);
        })
        .then(fixtureData => {
          let selectElement = document.querySelector(".fixtures__select");
          fixtureData.forEach((data, index) => {
            let option = document.createElement('option');
            // removes mandatory 'FIXTURE: ' from title
            option.text = data.title.substr(9);
            option.value = index;
            selectElement.appendChild(option);
          });
          // init with rendering info for first item in select
          updateRenderingInfoForItem(fixtureData, 0);

          // as soon as another fixture data item is selected, update with its rendering info
          selectElement.addEventListener('change', (event) => {
            updateRenderingInfoForItem(fixtureData, selectElement.selectedIndex);
          });

          document.querySelector(".fixtures__reload-button").addEventListener('click', () => {
            updateRenderingInfoForItem(fixtureData, selectElement.selectedIndex);
          })
        });

      function loadRenderingInfo(fixtureData, index) {
        return fetch(`http://localhost:${port}/rendering-info/${index}/${target}`)
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error(response);
          })
          .catch(e => {
            console.log(e);
            // do nothing
          });
      }

      function updateRenderingInfoForItem(fixtureData, index) {
        loadRenderingInfo(fixtureData, index)
          .then(data => {
            if(data) {
              // add markup
              document.querySelector("#container").innerHTML = data.markup;
              // load resources
              let scriptUrls = [];
              if(data.scripts) {
                data.scripts.map(script => {
                  if(script.name) {
                    script.url = `http://localhost:${port}/tools/script/${script.name}`;
                  }
                });
                scriptUrls = data.scripts.filter(script => script.url).map(script => script.url);
              }

              let stylesheetUrls = [];
              if(data.stylesheets) {
                data.stylesheets.map(stylesheet => {
                  if (stylesheet.name) {
                    stylesheet.url = `http://localhost:${port}/tools/stylesheet/${stylesheet.name}`
                  }
                });
                stylesheetUrls = data.stylesheets.filter(stylesheet => stylesheet.url).map(stylesheet => stylesheet.url);
              }

              const urlResources = [...scriptUrls, ...stylesheetUrls];
              loadjs(urlResources, {
                success: () => {
                  if(data.scripts) {
                    for(const script of data.scripts.filter(script => script.content)) {
                      const scriptElement = document.createElement('script');
                      scriptElement.innerHTML = script.content;
                      document.querySelector("#container").appendChild(scriptElement);
                    }
                  }
                  if(data.stylesheets) {
                    for(const stylesheet of data.stylesheets.filter(stylesheet => stylesheet.content)) {
                      const styleElement = document.createElement('style');
                      styleElement.type = "text/css";
                      styleElement.appendChild(document.createTextNode(stylesheet.content));
                      document.querySelector("#container").appendChild(styleElement);
                    }
                  }
                },
                before: (path, scriptElement) => {
                  document.querySelector("#container").appendChild(scriptElement);
                  /* return `false` to bypass default DOM insertion mechanism */
                  return false;
                }
              });
            } else {
              throw new Error("Something went wrong while loading the renderingInfo. There might be a problem in your tool");
            }
          })
      }
    </script>
  </body>
</html>
